@media only screen and (max-width: 450px){
    #nav-content{
        text-align: center;
        width: 100%;
    }
    
    #nav-content ul{
        display: flex;
        justify-content: center;
        width: 100%;

    }
    
    #nav-content a{
        margin: 0 auto;
        padding: .5em;
        font-size: 1.1em;
    }

}

