html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

/* HTML: <div class="loader"></div> */
.loader {
  text-align: center;
  margin: 0 auto;
  margin-top: 4em;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 
    0 0 0 rgb(255 0 0), 
    0 0 0 rgb(0 255 0), 
    0 0 0 rgb(0 0 255);
  font-size: 30px;
  animation: l32 1s infinite cubic-bezier(0.5,-2000,0.5,2000);
}
.loader:before {
  content:"Cargando Galeria...";
}

@keyframes l32{
  25%,100% {
  text-shadow: 
     0.03px -0.01px 0.01px rgb(255 0 0), 
     0.02px  0.02px 0     rgb(0 255 0), 
    -0.02px  0.02px 0     rgb(0 0 255);
  }
}

a {
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  /* Empieza con opacidad 0 para ocultar el componente */
  animation: fadeIn 0.5s ease-in forwards;
  /* Animación de fundido */
}


@keyframes fadeIn {
  to {
    opacity: 1;
    /* Llega a una opacidad de 1 para mostrar el componente */
  }
}

body {

  color: #333;
  background-image: url('/fondo2.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* Esto ajustará la imagen para cubrir todo el fondo */
  background-position: center;
  /* Esto centrará la imagen */
  box-shadow: 0 0 20px rgba(0, 0, 0, 2)
}

nav {
  width: 95%;
  position: sticky;
  top: 0;
  background-color: #18051067;

  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1.1em 0;
}

nav h1 {
  margin-bottom: .3em;
  color: #ffe180;
}

ul {
  display: flex;
  list-style: none;
}

li a {
  margin-right: 1.6em;
  text-decoration: none;
  color: #f4f4f4;
}

#Principal {
  display: flex;
  width: 95%;
  margin: 0 auto;

}

#princ-left {
  width: 50%;
  max-height: 100vh;
  background-color: #07020567;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em;


}

#p-l-text {
  margin-top: 12em;

}

#p-l-text h2 {
  color: #ffe180;
  margin-bottom: 1em;
  font-size: 3em;
}

#p-l-text h1 {
  color: #f4f4f4;
  font-size: 5em;

}

#p-l-text p {
  color: #f4f4f4;
  margin-top: 1em;
}

#princ-right {
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #18051067;
  border-radius: 8em;

}

#princ-right img {
  width: auto;
  max-height: 100vh;
  border-radius: 1em;
}

/*  */

#about {
  width: 95%;
  min-height: 60vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.767);
  background-color: #18020e67;
  border-radius: 8em;



}

#about button {
  background: rgba(255, 221, 0, 0.658);
  padding: 1em;
  border-radius: .3em;
  border: 0;
  margin-top: 1.5em;

}

#about button:hover {
  background-color: rgba(46, 80, 83, 0.788);
  color: #f4f4f4;
  cursor: pointer;

}

#about-content {
  width: 60%;
  margin-top: 5em;
  text-align: center;
  background-color: #08020699;
  padding: .3em;
  border-radius: 50%;

}

#about-history {
  margin-top: 1em;
}

#about-content h1 {
  color: #e6c9ce;
  margin-bottom: .8em;
  font-size: 2em;

}

#about-content p {
  margin-bottom: 2em;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.849);
}

/*  */
#portfolio {
  width: 95%;
  margin: 0 auto;
  display: flex;
  background-color: #0d030999;
  border-radius: 8em;



}

#gallery-content {
  width: 100%;


}

#gallery-content h1 {
  text-align: center;
  color: #ffe180;
  font-size: 3em;
  padding: .3em;
}

#gallery {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1em;
  margin: 0 auto;
  margin-bottom: 2em;

}

.image {
  position: relative;
  width: 100%;
  /* Asegura que el contenedor tenga un aspecto cuadrado */
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 1em;
}



@media only screen and (max-width: 1080px) {

  #gallery {
    width: 90%;
    grid-template-columns: repeat(2, minmax(300px, 1fr));

    gap: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  #princ-right img {
    width: auto;
    max-height: 100vh;
  }

}

@media only screen and (max-width: 710px) {
  #gallery {
    width: 90%;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    margin: 0 auto;
  }



}

@media only screen and (max-width: 450px) {
  body {
    /*     background: rgb(237, 40, 156);
    background: linear-gradient(90deg, rgba(237, 40, 156, 0.7679446778711485) 5%, rgba(200, 200, 8, 0.8883928571428571) 96%);
   */
  }

  #Principal {
    display: flex;
    flex-direction: column;
  }

  #princ-left {
    width: 100%;
    max-height: 100vh;
    background-color: #e4007d28;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .8em;
  }

  #p-l-text {
    margin-top: 1.3em;

  }

  #p-l-text h2 {
    color: #ffe180;
    margin-bottom: .3em;
    font-size: 3em;
  }

  #p-l-text h1 {
    color: #f4f4f4;
    font-size: 5em;

  }

  #p-l-text p {
    font-size: 1.2em;
    color: #f4f4f4;
    margin-top: 1em;
  }

  #princ-right {
    width: 100%;
    margin-bottom: .8em;
  }

  #princ-right img {
    width: 100%;
  }

  #princ-left {
    border-radius: 8em;
    background-color: #0a090947;
  }

  #about-content {
    width: 80%;
    border-radius: 10%;
    background-color: #1110104f;
  }

  #about-content h1 {
    color: #d8c1c5;
    margin-bottom: .8em;

  }

  #about-content p {
    margin-bottom: 2em;
    font-size: 1.3em;
  }

  #redes-principal ul {
    margin-top: 1em;
    margin-bottom: 1.3em;
  }

  #about button {
    margin-top: 0;
    margin-bottom: 1.2em;
  }

  #gallery-content {

    margin-bottom: 6em;
  }

}